.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #176d0f;
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.links {
  color: white;
  text-decoration: none;
}

.loginForm {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  min-height: 50vh;
  background-color: white;
  font-size: 26px;
  border-radius: 30px;
}

.loginForm legend {
  font-weight: bold;
}

.loginForm input {
  margin: 20px;
  border-radius: 10px;
}
